@charset "UTF-8";
h1 {
  font-size: 5em;
  font-weight: bold;
  color: blue;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
}
h1 a {
  text-decoration: none;
  color: blue;
}
p {
  text-align: center;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 3em;
  margin-top: 0.1em;
  margin-bottom: 0em;
}
button {
  border-radius: 50% 50%;
  background-color: orange;
  width: 3em;
  height: 3em;
  font-size: 2em;
}

a button{
  position: absolute;
  left: 90%;
  top: 3%;
  border: none;
  font-weight: bold;
  user-select: none;
}

.toggle-holder{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 73vh;
}
.emoji-toggle {
  position: relative;
  width: 80vw;
  margin: 40px auto;
}
.emoji-toggle .well {
  display: block;
  background: #eee;
  height: 5em;
  border-radius: 10px;
  cursor: pointer;


}
.emoji-toggle .toggle {
  opacity: 0;
  border: 0;
  outline: none;
  height: 100%;
  width: 100%;
  background: transparent;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}
.emoji-toggle .toggle ~ .emoji:before {
  content: "\01F431";
  position: absolute;
  left: 0;
  top: -15px;
  font-size: 40px;
  transition: 0.2s;
}
.emoji-toggle .toggle:checked ~ .emoji:before {
  left: 100%;
  margin-left: -1em;
}
.emoji-toggle .toggle ~ label {
  white-space: nowrap;
}
.emoji-toggle .toggle ~ label:before {
  position: absolute;
  right: 100%;
  margin-right: 5px;
  top: 0;
}
.emoji-toggle .toggle ~ label:after {
  position: absolute;
  left: 100%;
  margin-left: 5px;
  top: 0;
  
}
input[type="checkbox"]:focus{
  user-select: none;
}
.emoji-happy .toggle ~ .emoji:before {
  content: "😢";
  font-size: 10em;
  margin: -0.3em;
}
.emoji-happy .toggle:checked ~ .emoji:before {
  content: "😄";
}

.emoji-mad .toggle ~ .emoji:before {
  content: "😡";
  margin: -0.3em;
  font-size: 10em;
}
.emoji-mad .toggle:checked ~ .emoji:before {
  content: "😐";
}

.emoji-love .toggle ~ .emoji:before {
  content: "💔";
  margin: -0.3em;
  font-size: 10em;
}
.emoji-love .toggle:checked ~ .emoji:before {
  content: "😍";
}

@media (max-width: 700px) and (min-width: 300px) {
  .toggle-holder{
    justify-content: space-around;
    height: 50vh;
  }
}

#output{
  display: none;
}
#output:target{
  display: block;
  text-align: center;
  font-family: Georgia;
  font-size: 5em;
  font-weight: bold;
}
